:root {
  --header-height: 60px;
  --bg-body: #fff;
  --txt-body: #000;
  --bg-nav: #fff;
  --color-primary:rgb(12, 100, 207);
  --btn-color: #000;
}


html {
  /* root */
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-body);
  color: var(--txt-body);
  font-family: sans-serif;
  margin: 0;
  font-size: 1rem;
}

body.dark{
  --bg-body: #000;
  --txt-body: #fff;
  --bg-nav: #111;
  --btn-color: #fff;
}

/* Utilities */

.section {
  padding: 45px 0 20px ;

}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  color: var(--btn-color);
  border: none;
  padding: .75em 1.2em;
  cursor: pointer;
}

.mt-100 {
  margin-top: 100px;
}

.main {
  margin-top: var(--header-height);
}
/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-nav);
  box-shadow: 0 0 25px #00000036;
}



.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--txt-body);
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--color-primary, #000);
  font-size: 38px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 20px;
}

.menu__link {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  transition: color .3s;
}

.menu__link:hover {
  color: rgb(32, 178, 170);
}

.menu__link.active {
  color: rgb(32, 178, 170);
}

.btn-resume {
  background-color: rgb(32, 178, 170);
  border: 2px solid transparent;
  color: #fff;
  text-decoration: none;
  transition: background-color .5s;
}

.btn-resume:hover {
  background-color: #fff;
  border: 2px solid rgb(32, 178, 170);
  color: rgb(32, 178, 170);
}

/* Dispositivos md Tablet */
/* 0 - 768px */
@media (max-width: 900px) {
  .menu {
    text-align: center;
    background-color: var(--color-primary);
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    transition: left .5s;
  }

  .show-menu {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    gap: 60px;
  }

  .menu__link {
    color: rgb(200, 234, 232);
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    transition: color .3s;
  }

  .menu__link:hover {
    color: #fff;
  }

  .menu__link.active {
    color: rgb(56, 137, 235);
  }

  .btn-resume {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    width: max-content;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    transition: background-color .5s;
  }

  .btn-resume:hover {
    background-color: #fff;
    color: rgb(32, 178, 170);
  }
}

.btn-close {
  position: absolute;
  /* Colores*/
  /* Hexadecimal */
  /* 0-9-a,b,c,d,e,f */
  /*                   RRGGBB+AA(Alfa)     */
  /* rrggbbaa */
  background-color: #00000061;
  /* rgba */
  background-color: #0006;
  /* Notación RGB+A */
  /*                     r  g  b */
  /* 0 - 255 */
  /* 0 - 1 o 0% - 100% */
  background-color: rgba(0, 0, 0, 50%);
  /* Palabras Clave */
  /* No recomendado */
  /* background-color: lightblue; */
  color: #fff;
  top: 20px;
  right: 20px;
  font-size: 28px;
  width: 48px;
  height: 48px;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color .5s;
}

.btn-close:hover {
  background-color: #1b8a83;
}

.btns{
 display: flex;
 gap: 20px
}

.btn-open {
  background-color: transparent;
  font-size: 28px;
  padding: 0;
}

.btn-theme {
  background-color: transparent;
  font-size: 22px;
  padding: 0;
}

.hero {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content:  center;
  align-items: center;
}

.hero__title {
  font-size: 2.5rem;
  font-weight: 400;
}

.hero__name {
  font-size: 2.4rem;
  color: var(--color-primary);
  font-weight: 700;
}

.hero__animation {
  transform-origin: 70%  70%;
  display: inline-block;
  animation: saludo-animacion 2.5s infinite;
  
}

@keyframes saludo-animacion {
  0% {
    transform: rotate(0deg);
  }   

  10%{
    transform: rotate(14deg);
  }

  20%{
    transform: rotate(-8deg);
  }
  
  30%{
    transform: rotate(14deg);
  }

  40%{
    transform: rotate(-4deg);
  }

  50%{
    transform: rotate(10deg);
  }
  60%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(0deg);
  }
}

.hero__description {
  font-size: 1.5rem;
  padding: .5em 1em;
  background-color: var(--color-primary);
  border-radius: 12px;
  text-align: center;
}

.social {
  list-style: none;
  padding: 0;
  margin: 30px 0;

  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.social__link {
  color: var(--color-text)
}

.social__link i {
  font-size: 24px;
  transition: color .5s;
}

.social__link i:hover {
  color: var(--color-primary)
}

@media (min-width: 900px) {
  :root {
    --header-height: 90px;
  }

  .btn-close {
    display: none;
  }


  .btn-open {
    visibility: hidden;
  }
}

.box {
  border: 1px solid #000;
  width: 100%;
  height: 200px;
  margin-top:100px;

}

/* Unidades de Medida */
/* Absolutas: px */

/* Relativas: em, rem, %, vw, vh */
/* .por {
  background-color: lightblue;
  width: 50%;
}

.por p {
  width: 70%;
  background-color: lightgreen;
}

.vw {
  width: 50vw;
  background-color: lightgreen;
}

.vw p {
  position: relative;
  top: 10px;
  width: 70vw;
  background-color: lightblue;
} */

/* .por {
  background-color: lightblue;
  width: 100%;
  height: 50%;
}

.vw {
  width: 100vw;
  height: 100vh;
  background-color: lightgreen;
} */

/* min-width de esta anchura para arriba */
/* max-width de esta anchura para abajo */

/* @media screen and (max-width: 200px) {
  .header {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 200px) {
  .header {
    background-color: lightcoral;
  }
}

@media screen and (min-width: 400px) {
  .header {
    background-color: lightblue;
  }
